<div class='row'>
  <div class='col-md-4 col-sm-4'>
    <%= image_tag('josh', class: 'img-border') %>
  </div>
  <div class='col-md-8 col-sm-8'>
    <p>
      Here 4 Reentry is a community based organization focused on creating a toolset to help previously incarcerated "returning citizens" successfully reintegrate into society. We use online tools to help these citizens interact socially with one another, learn about important social services available to them, and organize politically to advocate for issues relevant to their lives and their communities. These are our neighbors, our friends and our family.
    </p>

    <hr />

    <p>
      Our mission is to provide returning citizens everywhere with an all-in-one resource portal and to support an ecosystem of information sharing and connection to care.
    </p>
  </div>
</div>
