<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <h1>Here for Reentry</h1>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%= link_to "Welcome", root_path %>
        </li>
        <li>
          <%= link_to "Domains", domains_path %>
        </li>
        <li>
          <%= link_to "Locations", locations_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
